In [7]:
import pandas as pd
import numpy as np

# Advanced DF manipulations

In [8]:
dataset_path='../datasets/drinks.csv'
df = pd.read_csv(dataset_path)
df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [9]:
continent_groups =df.groupby('continent')

In [10]:
continent_groups.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
26,Burkina Faso,25,7,7,4.3,AF
35,Chile,130,124,172,7.6,SA
37,Colombia,159,76,3,4.2,SA
40,Cook Islands,0,254,74,5.9,OC
59,Fiji,77,35,1,2.0,OC
89,Kiribati,21,34,1,1.0,OC
106,Marshall Islands,0,0,0,0.0,OC

In [11]:
# TODO: {
#   "EU":{
# 	"Country1":{
# 		"beer_servings":2
# 	}
#   }
# }
# json = continent_groups.count().to_json('continent_groups_count.json', indent=2)

In [12]:
continent_groups.get_group('EU').count()

country                         45
beer_servings                   45
spirit_servings                 45
wine_servings                   45
total_litres_of_pure_alcohol    45
continent                       45
dtype: int64

In [13]:
## MultiIndex

In [14]:
# # load datasets
df = pd.read_csv('../datasets/WordsByCharacter.csv')
df.head(10)

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214
5,The Fellowship Of The Ring,03: The Shire,Bilbo,Hobbit,70
6,The Fellowship Of The Ring,03: The Shire,Frodo,Hobbit,128
7,The Fellowship Of The Ring,03: The Shire,Gandalf,Ainur,197
8,The Fellowship Of The Ring,03: The Shire,Hobbit Kids,Hobbit,10
9,The Fellowship Of The Ring,03: The Shire,Hobbits,Hobbit,12

In [15]:
multi = df.set_index(['Film', 'Chapter', 'Character', 'Race'])
multi.head(5)

                                                                    Words
Film                       Chapter                Character Race
The Fellowship Of The Ring 01: Prologue           Bilbo     Hobbit      4
                                                  Elrond    Elf         5
                                                  Galadriel Elf       460
                                                  Gollum    Gollum     20
                           02: Concerning Hobbits Bilbo     Hobbit    214

In [19]:
multi = df.set_index(['Film', 'Chapter', 'Race', 'Character']).sort_index()
multi.head(15)

                                                                                       Words
Film                       Chapter                   Race   Character
The Fellowship Of The Ring 01: Prologue              Elf    Elrond                         5
                                                            Galadriel                    460
                                                     Gollum Gollum                        20
                                                     Hobbit Bilbo                          4
                           02: Concerning Hobbits    Hobbit Bilbo                        214
                           03: The Shire             Ainur  Gandalf                      197
                                                     Hobbit Bilbo                         70
                                                            Frodo                        128
                                                            Hobbit Kids                   10
                                                            Hobbits                       12
                           04: Very Old Friends      Ainur  Gandalf                       64
                                                     Hobbit Bilbo                        339
                                                            Lobelia Sackville-Baggins      8
                           05: A Long Expected Party Ainur  Gandalf                       12
                                                     Hobbit Bilbo                        326

In [17]:
multi.loc[('The Fellowship Of The Ring','01: Prologue'),:]

                  Words
Race   Character
Elf    Elrond         5
       Galadriel    460
Gollum Gollum        20
Hobbit Bilbo          4

In [18]:
# Which elves speak in The Fellowship Of The Ring
multi.loc[('The Fellowship Of The Ring', slice(None),'Elf')]

                                               Words
Chapter                             Character
01: Prologue                        Elrond         5
                                    Galadriel    460
21: Flight To The Ford              Arwen        131
22: Rivendell                       Elrond         7
23: Many Meetings                   Elrond         5
24: The Fate Of The Ring            Elrond       260
25: The Sword That Was Broken       Arwen         47
26: The Evenstar                    Arwen         57
27: The Council Of Elrond           Elrond       167
                                    Legolas       34
28: Gilraen's Memorial              Elrond        65
30: The Departure Of The Fellowship Elrond        48
31: The Ring Goes South             Legolas        3
32: The Pass Of Caradhras           Legolas        8
33: Moria                           Legolas        7
35: Balin's Tomb                    Legolas        8
36: The Bridge Of Khazad-dûm        Legolas        4
37: Lothlorien                      Galadriel     19
                                    Haldir        51
                                    Legolas        7
38: Caras Galadhon                  Celeborn      61
                                    Galadriel    135
                                    Haldir        19
                                    Legolas       41
39: The Mirror Of Galadriel         Galadriel    214
41: Farewell To Lorien              Celeborn      99
                                    Galadriel    166
                                    Legolas       20
43: Parth Galen                     Legolas       31
44: The Breaking Of The Fellowship  Legolas        6
46: The Road Goes Ever On…          Legolas       15

In [13]:
multi.index.names

FrozenList(['Film', 'Chapter', 'Race', 'Character'])

In [21]:
# TASK: how many times Bilbo speak in '01: Prologue':
multi.loc[(slice(None),'01: Prologue',slice(None), 'Bilbo')]

idx = pd.IndexSlice
multi.loc[idx[:,'01: Prologue',:,'Bilbo']]

                                   Words
Film                       Race
The Fellowship Of The Ring Hobbit      4

In [15]:
# TASK: total words of all elves in The Fellowship Of The Ring
multi.loc[idx['The Fellowship Of The Ring',:,'Elf']].sum()

Words    2200
dtype: int64

In [16]:
# TASK: total words of all elves in The Fellowship Of The Ring
multi.loc[idx['The Fellowship Of The Ring',:,'Elf']]

                                                                               Words
Film                       Chapter                             Race Character
The Fellowship Of The Ring 01: Prologue                        Elf  Elrond         5
                                                                    Galadriel    460
                           21: Flight To The Ford              Elf  Arwen        131
                           22: Rivendell                       Elf  Elrond         7
                           23: Many Meetings                   Elf  Elrond         5
                           24: The Fate Of The Ring            Elf  Elrond       260
                           25: The Sword That Was Broken       Elf  Arwen         47
                           26: The Evenstar                    Elf  Arwen         57
                           27: The Council Of Elrond           Elf  Elrond       167
                                                                    Legolas       34
                           28: Gilraen's Memorial              Elf  Elrond        65
                           30: The Departure Of The Fellowship Elf  Elrond        48
                           31: The Ring Goes South             Elf  Legolas        3
                           32: The Pass Of Caradhras           Elf  Legolas        8
                           33: Moria                           Elf  Legolas        7
                           35: Balin's Tomb                    Elf  Legolas        8
                           36: The Bridge Of Khazad-dûm        Elf  Legolas        4
                           37: Lothlorien                      Elf  Galadriel     19
                                                                    Haldir        51
                                                                    Legolas        7
                           38: Caras Galadhon                  Elf  Celeborn      61
                                                                    Galadriel    135
                                                                    Haldir        19
                                                                    Legolas       41
                           39: The Mirror Of Galadriel         Elf  Galadriel    214
                           41: Farewell To Lorien              Elf  Celeborn      99
                                                                    Galadriel    166
                                                                    Legolas       20
                           43: Parth Galen                     Elf  Legolas       31
                           44: The Breaking Of The Fellowship  Elf  Legolas        6
                           46: The Road Goes Ever On…          Elf  Legolas       15

In [17]:
multi.index.get_level_values(level='Race').unique()

Index(['Elf', 'Gollum', 'Hobbit', 'Ainur', 'Nazgul', 'Men', 'Orc', 'Dwarf',
       'Ent', 'Dead'],
      dtype='object', name='Race')

In [18]:
df.head()

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214

In [19]:
df.Race.unique()

array(['Hobbit', 'Elf', 'Gollum', 'Ainur', 'Nazgul', 'Men', 'Orc',
       'Dwarf', 'Ent', 'Dead'], dtype=object)

In [20]:
# TASK: total words of all elves and Mens in The Fellowship Of The Ring
multi.loc[idx['The Fellowship Of The Ring',:,['Elf', 'Men']]]

                                                                                 Words
Film                       Chapter                              Race Character
The Fellowship Of The Ring 01: Prologue                         Elf  Elrond          5
                                                                     Galadriel     460
                           15: At The Sign of the Prancing Pony Men  Aragorn        76
                                                                     Gatekeeper     38
                                                                     Innkeeper      76
...                                                                                ...
                           44: The Breaking Of The Fellowship   Men  Boromir         2
                           45: The Departure Of Boromir         Men  Aragorn        72
                                                                     Boromir        72
                           46: The Road Goes Ever On…           Elf  Legolas        15
                                                                Men  Aragorn       102

[71 rows x 1 columns]

In [21]:
multi.head()

                                                                    Words
Film                       Chapter                Race   Character
The Fellowship Of The Ring 01: Prologue           Elf    Elrond         5
                                                         Galadriel    460
                                                  Gollum Gollum        20
                                                  Hobbit Bilbo          4
                           02: Concerning Hobbits Hobbit Bilbo        214

In [22]:
multi.to_json('lord_of_rings_multi.json', indent=4)